<launch>
  <arg name="tf_prefix"         default="azure_" />                 <!-- Prefix added to tf frame IDs. It typically contains a trailing '_' unless empty. -->
  <arg name="add_cover"         default="true" />

  <param name="robot_description"
    command="xacro $(find azure_kinect_ros_driver)/urdf/test_azure_kinect.urdf.xacro tf_prefix:=$(arg tf_prefix) add_cover:=$(arg add_cover)" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find azure_kinect_ros_driver)/rviz/urdf.rviz"/>
</launch>
